Django==2.1.7
django-pipeline==1.6.14
django-recaptcha2==1.4.1
django-otp==0.5.2
mistune==0.8.4
Pygments==2.3.1
qrcode==6.1
sorl-thumbnail==12.5.0
Pillow==5.4.1
django-jet==1.0.8 
django-sendgrid-v5==0.7.1 
sentry-sdk==0.7.9
gunicorn==19.9.0
psycopg2-binary==2.7.7