@import "base";
// Article Template

@media only screen and (min-width: 992px) {
  .article__heading__wrapper {
    margin-bottom: 15vh;
  }
  .article__body__wrapper {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 992px) {
  .article__heading__wrapper {
    margin-bottom: 25vh;
  }
}

.article__heading {
  position: relative;
  top: 15vh;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  h1 {
    font-family: $h-font-smb;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.article__cover_image {
  @include no-highlight;
  background-color: black;
  position: absolute;
  width: 100%;
  height: $coverHeight;
  @media only screen and (max-width: 992px) {
    height: 40vh;
  }
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  img {
    transform: translate(-50%, -50%);
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
  }
}

.article__body {
  overflow-wrap: break-word;

  -ms-word-break: break-word;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  font-size: 16px;

  h1,
  h2 {
    font-family: $h-font-smb;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: $h-font-med;
  }

  .headerlink {
    opacity: 0;
    position: relative;
    padding-left: 12px;
    -webkit-transition: opacity $qk-duration ease-in-out;
    transition: opacity $qk-duration ease-in-out;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    .headerlink {
      opacity: 1;
    }
  }

  code,
  .highlight {
    font-family: $p-font-mon;
  }

  code {
    background-color: #eeeeee;
    color: $secondary-color;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
  }

  strong,
  b {
    font-weight: bolder;
  }

  ul {
    padding-left: 2em;
    li {
      margin-top: 0.5em;
      list-style-type: disc;
    }
  }

  ol {
    li {
      margin-top: 0.5em;
      list-style-type: decimal-leading-zero;
    }
  }

  a {
    transition-duration: 400ms;
  }

  a:hover {
    color: #0277bd;
  }

  img {
    max-width: 100%;
  }

  .window {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);
  }

  table,
  blockquote {
    padding-left: 12px;
    padding-right: 12px;
  }

  .highlight pre {
    padding: 12px;
    overflow: auto;
  }

  .highlight pre {
    border-radius: 8px;
  }
}

blockquote {
  border-left-width: 0px !important;
}

blockquote p {
  background-color: #e1f5fe;
  color: #29b6f6;
  padding: 12px;
  border-radius: 8px;
}

// MathJax

#MathJax_Message,
#MathJax_MSIE_Frame {
  display: none;
}

// Carbon Ads

.carbonads__wrapper {
  margin-top: 5vh;
}

#carbonads {
  display: block;
  background-color: #fafafa;
  overflow: hidden;
  border-radius: 8px;
  font-family: $p-font-reg;
  box-shadow: 0 2px 2px 0 rgba(0, 0%, 0%, 0.1);
  line-height: 1.5;
  transition: box-shadow $qk-duration;
}

#carbonads:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0%, 0%, 0.1);
}

#carbonads a {
  text-decoration: none;
}

// Desktop
@media only screen and (min-width: 992px) {
  #carbonads {
    text-align: center;
    font-size: 12px;
  }

  #carbonads span {
    display: block;
    overflow: hidden;
  }

  .carbon-img {
    display: block;
    margin: 8px auto 8px;
    line-height: 1;
  }

  .carbon-img img {
    border-radius: 4px;
  }

  .carbon-text {
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    color: #637381;
  }

  .carbon-poweredby {
    text-transform: uppercase;
    padding: 12px;
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1;
  }
}

// Mobile
@media only screen and (max-width: 992px) {
  #carbonads {
    max-width: 400px;
    font-size: 12px;
  }

  #carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .carbon-img {
    float: left;
    margin-right: 1em;
  }

  .carbon-img img {
    display: block;
  }

  .carbon-text {
    display: block;
    float: left;
    padding-top: 10px;
    padding-right: 5px;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
    color: #637381;
  }

  .carbon-poweredby {
    position: absolute;
    left: 142px;
    padding-bottom: 10px;
    bottom: 0;
    display: block;
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
  }
}
