@import "base";
// Article Template

@media only screen and (min-width: 992px) {
  .article__heading__wrapper {
    margin-bottom: 15vh;
  }
}

@media only screen and (max-width: 992px) {
  .article__heading__wrapper {
    margin-bottom: 25vh;
  }
}

.article__body__wrapper {
  margin-top: 5vh;
}

.article__heading {
  position: relative;
  top: 15vh;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  h1 {
    font-family: $h-font-lit;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.article__cover_image {
  @include no-highlight;
  background-color: black;
  position: absolute;
  width: 100%;
  height: $coverHeight;
  @media only screen and (max-width: 992px) {
    height: 40vh;
  }
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  img {
    transform: translate(-50%, -50%);
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
  }
}

.article__body {
  overflow-wrap: break-word;

  -ms-word-break: break-word;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  .highlight {
    font-family: $h-font-lit;
  }

  code {
    background-color: #eeeeee;
    color: $secondary-color;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5,
  h6 {
    font-size: 1rem;
  }

  p {
    font-size: $p-size;
  }

  strong,
  b {
    font-weight: bolder;
  }

  ul {
    padding-left: 2em;
    li {
      margin-top: 0.5em;
      list-style-type: disc;
    }
  }

  ol {
    li {
      margin-top: 0.5em;
      list-style-type: decimal-leading-zero;
    }
  }

  a {
    transition-duration: 400ms;
  }

  a:hover {
    color: #0277bd;
  }

  .highlight {
    padding: 6px;
  }

  img {
    max-width: 100%;
  }

  table,
  blockquote,
  .highlight pre,
  img {
    padding: 12px;
  }

  .highlight pre {
    border-radius: 8px;
    overflow: auto;
  }
}
