// Colors used for theming
$primary-color: #29323c !default;
$secondary-color: #03a9f4 !default;

// Cover dimensions
$coverHeight: 30vh;
$coverWidth: 100%;

// Margins/Padding
$sd-margin: 24px;
$sd-padding: 12px;

// Font sizes
$h1-size: 32px;
$h2-size: 24px;
$h3-size: 18px;
$p-size: 16px;

// Font families
$h-font-reg: "League Mono Regular";
$h-font-lit: "League Mono Light";
$h-font-bol: "League Mono Bold";
$a-font-bol: "League Spartan Bold";
$p-font-reg: "Open Sans";

// Text Related
@mixin no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::selection,
::-moz-selection {
  color: white;
  background: $secondary-color;
}

a::selection,
a::-moz-selection {
  color: $primary-color;
  background: $secondary-color;
}

.highlight pre::selection,
.highlight pre::-moz-selection,
.highlight pre span::selection,
.highlight pre span::-moz-selection {
  color: inherit;
  background: rgba(255, 255, 255, 0.15);
}

.highlight pre::selection:window-inactive,
.highlight pre span::selection:window-inactive {
  color: inherit;
  background: rgba(255, 255, 255, 0.25);
}

// Lazy loading transition
.lazyload,
.lazyloading {
  background-color: $primary-color;
	opacity: 0;
}
.lazyloaded {
  opacity: 1;
	transition: opacity 400ms;
}

// Animation/Transition durations
$qk-duration: 0.15s;
$lg-duration: 0.5s;

// Body
html,
body {
  font-family: $p-font-reg !important;
  background: white;
  color: $primary-color;
  min-height: 100vh;
  max-width: 100vw;

  a {
    outline: 0 !important;
  }
}

// Cards
.card-title {
  font-family: $h-font-lit;
}

// Navigation
.brand-logo {
  height: 64px;
  img {
    height: 64px;
    left: 8px;
    padding: 16px;
  }
}

.background {
  background: $primary-color;
}

nav {
  position: absolute;
  top: 0;
  background: transparent !important;
  box-shadow: none !important;
  z-index: 100;
}

hr {
  margin: 16px 0 16px;
  border: 0;
  height: 1px;
  width: 100%;
  background: #dadce0;
}

// Load animation for feed contents
// Desktop
@media only screen and (min-width: 992px) {
  .section,
  .footer,
  .article__body {
    animation-name: slide;
    animation-duration: 1s;
  }

  @keyframes slide {
    from {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

// Footer
$footer-text-color: rgba(0, 0, 0, 0.75);

.footer {
  margin: $sd-margin/2;
  padding-bottom: 24px;
  color: $footer-text-color;
  text-align: center;

  a {
    color: $footer-text-color;
    transition-duration: $qk-duration;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }

    &:nth-of-type(1n)::after {
      content: " - ";
      color: $footer-text-color;
    }

    &:nth-last-of-type(1)::after {
      content: "";
    }
  }
}

// Contact form
input,
textarea {
  color: #29323c;

  /* label color */
  .input-field label {
    color: #29323c;
  }

  /* label focus color */
  .input-field input[type="text"]:focus + label {
    color: #29323c;
  }

  /* label underline focus color */
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #29323c;
    box-shadow: 0 1px 0 0 #29323c;
  }

  /* valid color */
  .input-field input[type="text"].valid {
    border-bottom: 1px solid #29323c;
    box-shadow: 0 1px 0 0 #29323c;
  }

  /* invalid color */
  .input-field input[type="text"].invalid {
    border-bottom: 1px solid #29323c;
    box-shadow: 0 1px 0 0 #29323c;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #29323c;
  }
}

// Skills
.skill-detail {
  @media only screen and (min-width: 980px) {
    float: right;
  }
}

// Full Page Tweaks
#full-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;

  #full__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #full__text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
