// Colors used for theming
$primary-color: #29323c !default;
$secondary-color: #03a9f4 !default;

// Cover dimensions
$coverHeight: 30vh;
$coverWidth: 100%;

// Margins/Padding
$sd-margin: 24px;
$sd-padding: 12px;

// Font families
$h-font-bol: 'IBM Plex Bold', 'Helvetica Neue', Arial, sans-serif;
$h-font-smb: 'IBM Plex SemiBold', 'Helvetica Neue', Arial, sans-serif;
$h-font-med: 'IBM Plex Medium', 'Helvetica Neue', Arial, sans-serif;
$p-font-mon: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$p-font-reg: 'IBM Plex Regular', 'Helvetica Neue', Arial, sans-serif;

// Animation/Transition durations
$qk-duration: 400ms;
$lg-duration: 800ms;

// Text Related
@mixin no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::selection,
::-moz-selection {
  color: white;
  background: $secondary-color;
}

a::selection,
a::-moz-selection {
  color: $primary-color;
  background: $secondary-color;
}

.highlight pre::selection,
.highlight pre::-moz-selection,
.highlight pre span::selection,
.highlight pre span::-moz-selection {
  color: inherit;
  background: rgba(255, 255, 255, 0.15);
}

.highlight pre::selection:window-inactive,
.highlight pre span::selection:window-inactive {
  color: inherit;
  background: rgba(255, 255, 255, 0.25);
}

h1 {
  font-size: 1.8rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.3rem !important;
}

h4 {
  font-size: 1.1rem !important;
}

h5,
h6 {
  font-size: 1rem !important;
}

p {
  font-size: 16px;
}

// Body
html,
body {
  background: white;
  color: $primary-color;
  font-family: $p-font-reg;
  a {
    outline: 0 !important;
  }
}

// Cards
.card-title {
  font-family: $h-font-med;
}

// Navigation
.brand-logo {
  height: 64px;
  img {
    height: 64px;
    left: 8px;
    padding: 16px;
  }
}

.background {
  background: $primary-color;
}

nav {
  position: absolute;
  top: 0;
  background: transparent !important;
  box-shadow: none !important;
  z-index: 100;
}

hr {
  margin: 16px 0 16px;
  border: 0;
  height: 1px !important;
  width: 100%;
  background: #dadce0;
}

.chip {
  transition-duration: $qk-duration/2;
}

.chip:hover {
  background-color: #cccccc;
}

.card-container .card-object {
  width: 50%;
  padding: 0 12px 0 12px;
}

.card-image {
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}

.feed-header {
  position: relative;
  font-family: $h-font-smb;
  font-size: 32px;
}

.feed-subheader {
  font-family: $h-font-med;
}

@media only screen and (max-width: 1200px) {
  .card-container .card-object {
    width: 100%;
  }
}

.dim-image {
  filter: brightness(50%);
}

// Load animation for feed contents
// Desktop
@media only screen and (min-width: 992px) {
  .section,
  .footer,
  .article__body,
  #carbonads {
    animation-name: slide;
    animation-duration: 1s;
  }

  @keyframes slide {
    from {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

// Lazy loading transition
.lazyload,
.lazyloading {
  background-color: $primary-color;
	opacity: 0;
}
.lazyloaded {
  opacity: 1;
	transition: opacity $qk-duration;
}

// Footer

.footer {
  margin: $sd-margin/2;
  padding-bottom: 24px;
  text-align: center;

  a {
    transition-duration: $qk-duration;
    color: $primary-color;

    svg {
      position: relative;
      transition-duration: $qk-duration;
      fill: $primary-color;
      top: 4px;
      width: 18px;
      height: 18px;
    }

    &:hover {
      color: $secondary-color;
      svg {
        fill: $secondary-color;
      }
    }

    &:nth-of-type(1n)::after {
      content: " - ";
    }

    &:nth-last-of-type(1)::after {
      content: "";
    }
  }
}

// Contact form
input,
textarea {
  color: #29323c;

  /* label color */
  .input-field label {
    color: #29323c;
  }

  /* label focus color */
  .input-field input[type="text"]:focus + label {
    color: #29323c;
  }

  /* label underline focus color */
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #29323c;
    box-shadow: 0 1px 0 0 #29323c;
  }

  /* valid color */
  .input-field input[type="text"].valid {
    border-bottom: 1px solid #29323c;
    box-shadow: 0 1px 0 0 #29323c;
  }

  /* invalid color */
  .input-field input[type="text"].invalid {
    border-bottom: 1px solid #29323c;
    box-shadow: 0 1px 0 0 #29323c;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #29323c;
  }
}

// Full Page Tweaks
#full-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;

  #full__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #full__text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}