// Roboto
@font-face {
    font-family: 'Roboto Light';
    font-display: fallback;
    font-weight: 300;
    src:
        local('Roboto-Light'),
        url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto Mono';
    font-display: fallback;
    font-weight: 300;
    src:
        local('Roboto-Mono'),
        url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto Regular';
    font-display: fallback;
    font-weight: 300;
    src:
        local('Roboto-Regular'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto Medium';
    font-display: fallback;
    font-weight: 300;
    src:
        local('Roboto-Regular'),
        url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto SemiBold';
    font-display: fallback;
    font-weight: 300;
    src:
        local('Roboto-SemiBold'),
        url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto Bold';
    font-style: bold;
    font-display: fallback;
    font-weight: 300;
    src:
        local('Roboto-Bold'),
        url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'),
}