// IBM Plex
@font-face {
    font-family: 'IBM Plex Light';
    font-display: optional;
    font-weight: 300;
    src:
        local('IBM-Plex-Light'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-display: fallback;
    font-weight: 300;
    src:
        local('IBM-Plex-Mono'),
        url('../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'IBM Plex Regular';
    font-display: optional;
    font-weight: 300;
    src:
        local('IBM-Plex-Regular'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'IBM Plex Medium';
    font-display: optional;
    font-weight: 300;
    src:
        local('IBM-Plex-Regular'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'IBM Plex SemiBold';
    font-display: optional;
    font-weight: 300;
    src:
        local('IBM-Plex-SemiBold'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'IBM Plex Bold';
    font-style: bold;
    font-display: optional;
    font-weight: 300;
    src:
        local('IBM-Plex-Bold'),
        url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('truetype'),
}