@import "base";

// Cover

#cover,
#cover--full {
  background: linear-gradient(270deg, #29323c, #485563);
  background-size: 400% 400%;
  position: absolute;
  width: $coverWidth;
  top: 0;
  animation: rain__background 60s ease;

  @-webkit-keyframes rain__animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes rain__animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes rain__animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

#cover {
  height: $coverHeight;
}

#cover--full {
  height: 100%;
}

#cover__content {
  height: $coverHeight;

  // Cover content - in feed
  #cover__title,
  #cover__subtext {
    position: relative;
    text-align: center;
    font-size: 120%;
  }

  #cover__title {
    color: $secondary-color;
    font-weight: 700;
    white-space: nowrap;
    font-size: 300%;
  }

  #cover__text {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}

#cover__subtext {
  color: white;
  font-size: 120%;
  padding-bottom: 12px;
  font-weight: 500;
}

// Feed Header
.section__tagged {
  height: 32px;
}

.section__tagged h1,
.section__tagged .chip {
  display: inline-block;
}

.section__tagged .chip {
  position: relative;
  margin-left: 16px;
  bottom: 8px;
}

.tag-clear {
  cursor: pointer;
  float: right;
  font-size: 16px !important;
  line-height: 32px !important;
  padding-left: 8px !important;
}

.section__view_more h1,
.section__view_more a {
  display: inline-block;
  vertical-align: middle;
}

.section__view_more a {
  position: relative;
  margin-left: 16px;
  top: 8px;
}
