@import "base";

// Cover

#cover,
#cover--full {
  background: linear-gradient(270deg, #29323c, #485563);
  background-size: 400% 400%;
  position: absolute;
  width: $coverWidth;
  top: 0;
  animation: rain__background 60s ease;

  @-webkit-keyframes rain__animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes rain__animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes rain__animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

#cover {
  height: $coverHeight;
}

#cover--full {
  height: 100%;
}

#cover__content {
  height: $coverHeight;

  // Cover content - in feed
  #cover__title,
  #cover__subtext {
    position: relative;
    text-align: center;
    font-size: 120%;
  }

  #cover__title {
    color: $secondary-color;
    font-family: $a-font-bol;
    white-space: nowrap;
    font-size: 300%;
  }

  #cover__text {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}

#cover__subtext {
  color: white;
  font-size: 120%;
  padding-bottom: 12px;
  font-family: $h-font-reg;
}

// Feed Header
.feed-header {
  position: relative;
  font-family: $h-font-reg;
  font-size: 32px;
}

.filter-query {
  font-size: 1.5rem;
  margin-top: 0;
}

.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}

.card-container .card-object {
  width: 50%;
  padding: 0 12px 0 12px;
}

.card-image {
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

@media only screen and (max-width: 992px) {
  .card-container .card-object {
    width: 100%;
  }
}

.dim-image {
  filter: brightness(50%);
}

.section__view_more h1,
.section__view_more a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.section__view_more a {
  margin-left: 12px;
}