{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
{% load markdownify %}
{% load thumbnail %}



{% comment %} Rain background {% endcomment %}
<div id="cover">
    <div id="rain__wrapper">
        <div id="rain">
            {% for i in rain_range %}
            <i class="rain__drop"></i>
            {% endfor %}
        </div>
    </div>
</div>


{% comment %} Article contents {% endcomment %}
<div id="feed">
    <div class="container">
        <div id="cover__content">
            <div id="cover__text">
                <div id="cover__title">
                    {{ name }}
                </div>
                <div id="cover__subtext">
                    {{ metadata.slogan }}
                </div>
            </div>
        </div>
        <div class="article__heading">
            <h1>{{ contents.title }}</h1>
            <p class="grey-text text-lighten-1"><i>Last Modified: <b>{{ contents.modified }}</b></i></p>
        </div>
        <div class="article__cover_image">
            {% thumbnail contents.image "1920x960" format="WEBP" as webp %}
                {% thumbnail contents.image "1920x960" format="JPEG" as jpeg %}
                    <picture>
                        <source data-srcset="{{ webp.url }}" type="image/webp">
                        <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                        <img class="dim-image lazyload" alt="{{ contents.title }}">
                    </picture>
                {% endthumbnail %}
            {% endthumbnail %}
            <!-- <img class="dim-image" src="{{ contents.image.url }}" /> -->
        </div>
        <div class="article__body">
            <p>
                {{ contents.content | markdown | safe }}
            </p>
        </div>
        <div class="section">
            <h1 class="feed-header">More Posts</h1>
            <div class="card-container">
                {% for article in articles|slice:":2" %}
                <div class="card-object">
                    <div class="card">
                        <div class="card-image">
                            {% thumbnail article.image "600x300" format="WEBP" as webp %}
                                {% thumbnail article.image "600x300" format="JPEG" as jpeg %}
                                    <picture>
                                        <source data-srcset="{{ webp.url }}" type="image/webp">
                                        <source data-srcset="{{ jpeg.url }}" type="image/jpeg">            
                                        <img class="dim-image lazyload" alt="{{ article.title }}">
                                    </picture>
                                {% endthumbnail %}
                            {% endthumbnail %}
                            <span class="card-title">{{ article.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ article.preview }}</p>
                        </div>
                        <div class="card-action">
                            <a href="/blog/{{ article.slug }}">Read Post</a>
                            <div class="grey-text text-darken-1 right">
                                {{ article.modified }}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>Our article supply is running dry. Check back soon!</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    @media print {
        .article__heading {
            position: initial !important;
            transform: translateY(0%) !important;
        }

        .article__body {
            margin-top: 0% !important;
        }

        .article__heading,
        .article__body,
        a,
        code,
        .highlight pre,
        .highlight pre * {
            color: #000000 !important;
            line-height: 2rem !important;
        }

        p {
            font-size: 12px !important;
        }

        #cover,
        #cover__content,
        nav,
        .feed-header,
        .card-container,
        .article__cover_image,
        .footer__wrapper {
            display: none !important;
        }

        #feed,
        .container,
        .article__body {
            width: 100% !important;
        }
    }
</style>
{% endblock content %}
