{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
{% load markdownify %}
{% load thumbnail %}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://{{ request.get_host }}{{ request.get_full_path }}"
      },
      "headline": "{{ contents.title }}",
      "image": [
        {% thumbnail contents.image "1920x960" format="JPEG" as jpeg %}
        "https://{{ request.get_host }}{{ jpeg.url }}"
        {% endthumbnail %}
       ],
      "datePublished": "{{ contents.modified }}",
      "dateModified": "{{ contents.modified }}",
      "author": {
        "@type": "Person",
        "name": "{{ name }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Ceiphr",
        "logo": {
          "@type": "ImageObject",
          {% thumbnail logo "196x196" format="JPEG" as jpeg %}
          "url": "https://{{ request.get_host }}{{ jpeg.url }}"
          {% endthumbnail %}
        }
      },
      "description": "{{ contents.preview }}"
    }
</script>

{% comment %} Article contents {% endcomment %}
<div id="feed">
    <div class="container">
        <div class="article__cover_image">
            <picture>
                {% thumbnail contents.image "1920x960" format="WEBP" as webp %}
                <source data-srcset="{{ webp.url }}" type="image/webp">
                {% endthumbnail %}
                {% thumbnail contents.image "1920x960" format="JPEG" as jpeg %}
                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                {% endthumbnail %}
                <img class="dim-image lazyload" alt="{{ contents.title }}">
            </picture>
        </div>
        <div class="row">
            <div class="article__heading__wrapper col s12 m12 l12 xl12 offset-xl1">
                <div class="article__heading">
                    <h1>{{ contents.title }}</h1>
                    <p class="grey-text text-lighten-1"><i>By <b>{{ name }}</b> on
                            {{ contents.modified }}</i></p>
                </div>
            </div>
            <div class="carbonads__wrapper col s12 m12 l12 xl2 push-xl9">
                <script async type="text/javascript"
                    src="//cdn.carbonads.com/carbon.js?serve=CK7I62QM&placement=ceiphrcom" id="_carbonads_js"></script>
            </div>
            <div class="article__body__wrapper col s12 m12 l12 xl8 pull-xl2 offset-xl1">
                <div class="article__body">
                    <div class="article__contents">
                        {{ contents.content | markdown | safe }}
                    </div>
                </div>
                <div class="section">
                    <div class="article__footer">
                        <p>
                            Written by <b>{{ name }}</b>
                            <br>
                            Published on {{ contents.modified }}
                            <br>
                        </p>
                    </div>
                    <div class="tags">
                        {% for tag in tags %}
                        <a href="/blog?t={{ tag }}">
                            <div class="chip">
                                {{ tag.name }}
                            </div>
                        </a>
                        {% empty %}
                        This article is not relatable.
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12 xl10 offset-xl1">
                <hr />
                <div class="section">
                    <h1 class="feed-header">More Posts</h1>
                    <div class="card-container">
                        {% for article in articles|slice:":2" %}
                        <div class="card-object">
                            <div class="card">
                                <div class="card-image">
                                    <picture>
                                        {% thumbnail article.image "600x300" format="WEBP" as webp %}
                                        <source data-srcset="{{ webp.url }}" type="image/webp">
                                        {% endthumbnail %}
                                        {% thumbnail article.image "600x300" format="JPEG" as jpeg %}
                                        <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                        {% endthumbnail %}
                                        <img class="dim-image lazyload" alt="{{ article.title }}">
                                    </picture>
                                    <span class="card-title">{{ article.title }}</span>
                                </div>
                                <div class="card-content">
                                    <p>{{ article.preview }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="/blog/{{ article.slug }}">Read Post</a>
                                    <div class="grey-text text-darken-1 right">
                                        {{ article.modified }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>Our article supply is running dry. Check back soon!</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    @media print {
        .article__heading__wrapper {
            margin-bottom: 12 !important;
        }

        .article__heading {
            position: initial !important;
            transform: translateY(0%) !important;
        }

        .article__body {
            margin-top: 0 !important;
        }

        .article__heading,
        .article__body,
        .article__footer,
        a,
        code,
        blockquote p,
        .highlight pre,
        .highlight pre * {
            color: #000000 !important;
            line-height: 1.5rem !important;
        }

        p {
            font-size: 12px !important;
        }

        #cover,
        #cover__content,
        #carbonads,
        nav,
        .feed-header,
        .card-container,
        .article__cover_image,
        .tags,
        .headerlink,
        .footer__wrapper {
            display: none !important;
        }

        #feed,
        .container,
        .article__body {
            width: 100% !important;
        }
    }
</style>
{% if contents.latex_support %}
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
    </script>
{% endif %}
{% endblock content %}