{% extends "base.html" %}

{% block content %}
{% load static %}
{% load thumbnail %}


{% comment %} Rain background {% endcomment %}
<div id="cover">
    <div id="rain__wrapper">
        <div id="rain">
            {% for i in rain_range %}
            <i class="rain__drop"></i>
            {% endfor %}
        </div>
    </div>
</div>


{% comment %} Feed contents {% endcomment %}
<div id="feed">
    <div class="container">

        {% comment %} Cover contents {% endcomment %}
        <div id="cover__content">
            <div id="cover__text">
                <div id="cover__title">
                    {{ name }}
                </div>
                <div id="cover__subtext">
                    {{ metadata.slogan }}
                </div>
            </div>
        </div>


        {% comment %} FrontPage overview feed {% endcomment %}
        {% if view == "FrontPage" %}
        <div class="section">
            <span class="section__view_more">
                <h1 class="feed-header">Projects</h1><a href="/projects"
                    class="waves-effect grey-text text-darken-1 btn-flat">View All</a>
            </span>
            <div class="card-container">
                {% for project in projects|slice:":2" %}
                <div class="card-object">
                    <div class="card" itemscope itemtype="https://schema.org/Thing">
                        <div class="card-image">
                            <picture>
                                {% thumbnail project.image "600x300" format="WEBP" as webp %}
                                <source data-srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail project.image "600x300" format="JPEG" as jpeg %}
                                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img itemprop="image" class="lazyload" alt="{{ project.title }}">
                            </picture>
                        </div>
                        <div class="card-content">
                            <span class="card-title" itemprop="name">{{ project.title }}</span>
                            <p itemprop="description">{{ project.summary }}</p>
                        </div>
                        <div class="card-action">
                            <a itemprop="url" href="{{ project.link }}">View Project</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>I've done nothing with my life!</p>
                {% endfor %}
            </div>
        </div>
        <div class="section">
            <span class="section__view_more">
                <h1 class="feed-header">Blog</h1><a href="/blog"
                    class="waves-effect grey-text text-darken-1 btn-flat">View All</a>
            </span>
            <div class="card-container">
                {% for article in articles|slice:":4" %}
                <div class="card-object">
                    <div class="card" itemscope itemtype="http://schema.org/Thing">
                        <div class="card-image fade-box">
                            <picture>
                                {% thumbnail article.image "600x300" format="WEBP" as webp %}
                                <source data-srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail article.image "600x300" format="JPEG" as jpeg %}
                                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img itemprop="image" class="dim-image lazyload" alt="{{ article.title }}">
                            </picture>
                            <span itemprop="name" class="card-title">{{ article.title }}</span>
                        </div>
                        <div class="card-content">
                            <p itemprop="description">{{ article.preview }}</p>
                        </div>
                        <div class="card-action">
                            <a itemprop="url" href="/blog/{{ article.slug }}">Read Post</a>
                            <div class="grey-text text-darken-1 right">
                                {{ article.modified }}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>I have nothing to say!</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        {% comment %} Projects feed {% endcomment %}
        {% if view == "Projects" %}
        <div class="section">
            <h1 class="feed-header">Projects</h1>
            <div class="card-container">
                {% for project in contents %}
                <div class="card-object">
                    <div class="card" itemscope itemtype="http://schema.org/Thing">
                        <div class="card-image fade-box">
                            <picture>
                                {% thumbnail project.image "600x300" format="WEBP" as webp %}
                                <source data-srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail project.image "600x300" format="JPEG" as jpeg %}
                                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img itemprop="image" class="lazyload" alt="{{ project.title }}">
                            </picture>
                        </div>
                        <div class="card-content">
                            <span itemprop="name" class="card-title">{{ project.title }}</span>
                            <p itemprop="description">{{ project.summary }}</p>
                        </div>
                        <div class="card-action">
                            <a itemprop="url" href="{{ project.link }}">View Project</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>I've done nothing with my life!</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        {% comment %} Blog feed {% endcomment %}
        {% if view == "Blog" %}
        <div class="section">
            {% if tag %}
            <span class="section__tagged">
                <h1 class="feed-header">Blog</h1>
                <div class="chip">{{ tag }}<a href="/blog"><i class="tag-clear material-icons black-text">close</i></a>
                </div>
            </span>
            {% else %}
            <h1 class="feed-header">Blog</h1>
            {% endif %}
            <div class="card-container">
                {% for article in contents %}
                <div class="card-object">
                    <div class="card" itemscope itemtype="http://schema.org/Article">
                        <div class="card-image fade-box">
                            <picture>
                                {% thumbnail article.image "600x300" format="WEBP" as webp %}
                                <source data-srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail article.image "600x300" format="JPEG" as jpeg %}
                                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img itemprop="image" class="dim-image lazyload" alt="{{ article.title }}">
                            </picture>
                            <span class="card-title" itemprop="name">{{ article.title }}</span>
                        </div>
                        <div class="card-content">
                            <p itemprop="description">{{ article.preview }}</p>
                        </div>
                        <div class="card-action">
                            <a itemprop="url" href="/blog/{{ article.slug }}">Read Post</a>
                            <div itemprop="datePublished" class="grey-text text-darken-1 right">
                                {{ article.modified }}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>I have nothing to say!</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        {% comment %} Events feed {% endcomment %}
        {% if view == "Events" %}
        <div class="section">
            <h1 class="feed-header">Events</h1>
            <div class="card-container">
                {% for event in contents %}
                <div class="card-object">
                    <div class="card" itemscope itemtype="http://schema.org/Thing">
                        <div class="card-image fade-box">
                            <picture>
                                {% thumbnail event.image "600x300" format="WEBP" as webp %}
                                <source data-srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail event.image "600x300" format="JPEG" as jpeg %}
                                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img itemprop="image" class="dim-image lazyload" alt="{{ event.title }}">
                            </picture>
                            <span itemprop="name" class="card-title">{{ event.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ event.desc }}</p>
                        </div>
                        <div class="card-action">
                            <a itemprop="url" href="{{ event.link }}">View Event</a>
                            <div class="tooltipped grey-text text-darken-1 right" data-position="bottom"
                                data-tooltip="{{ event.start_date }} - {{ event.end_date }}">
                                {{ event.end_date }}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>I have never left my house before!</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        {% comment %} Skill feed {% endcomment %}
        {% if view == "Skills" %}
        <div class="section">
            <h1 class="feed-header">Skills</h1>
            <div class="row">
                {% for subject in categories %}
                <div class="col s12 m6 l4">
                    <h2 class="feed-subheader">
                        {{ subject.title }}
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Exp. (Years)</th>
                                <th>Last Used (Years)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for skill in contents %}
                            {% if skill.category == subject %}
                            <tr>
                                <td>{{ skill.title }}</td>
                                <td>
                                {% if skill.experience == 0 %} < 1 {% else %} {{ skill.experience }} {% endif %}
                                </td> 
                                <td>
                                {% if skill.last_used == 0 %} < 1 {% else %} {{ skill.last_used }} {% endif %}
                                </td> 
                            </tr> 
                            {% endif %} 
                            {% empty %}
                            I have no skills in this category!
                            {% endfor %} 
                        </tbody> 
                    </table> 
                </div> 
                {% empty %}
                I have no skills!
                {% endfor %}                           
            </div> 
        </div> 
        {% endif %} 


        {% comment %} Contact page contents {% endcomment %} 
        {% if view == "Contact" %} 
        {% load recaptcha2 %} {% recaptcha_init %} 
        <div class="section">
                    <div class="contact__wrapper">
                        <div class="row">
                            <div class="col s12 m12 l6 offset-l3">
                                <h1 class="feed-header">Contact Me</h1>
                            </div>
                            <form class="col s12 m12" method="post" action="/contact">
                                {% csrf_token %}
                                {% if incomplete_form == True %}
                                <div class="input-field col s12 l6 offset-l3">
                                    <div class="chip red lighten-4">
                                        Email not sent. Please retry.
                                        <i class="close material-icons">close</i>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="input-field col s12 l6 offset-l3">
                                    <i class="material-icons prefix">email</i>
                                    {{ contents.sender }}
                                    <label for="sender">Email</label>
                                </div>
                                <div class="input-field col s12 l6 offset-l3">
                                    {{ contents.subject }}
                                    <label for="subject">Subject</label>
                                </div>
                                <div class="input-field col s12 l6 offset-l3">
                                    {{ contents.message }}
                                    <label for="message">Message</label>
                                </div>
                                <div class="input-field col s12 l6 offset-l3">
                                    {{ contents.captcha }}
                                </div>
                                <div class="input-field col s12 l6 offset-l3">
                                    <button type="submit" class="btn btn-default">
                                        <i class="material-icons right">send</i>Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock content %}